.mainIcon {
  width: 75px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #385898;
}

.odkaz {
  text-decoration: none;
  width: 75px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pismenoF {
  color: white;
  text-transform: lowercase;
  font-size: 3.5rem;
  font-weight: bold;
  font-family: inherit;
}

.mainIcon:hover {
  border: 2px solid white;
  color: white;
  box-shadow: -1px -1px 5px;
  border-radius: 7px;
}
