@font-face {
  font-family: klaviak-bold;
  src: url(../../../fonts/klavika-bold.otf);
}

.mainGoogleIcon {
  width: 75px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e44c4c;
  font-size: 2.5rem;
  font-weight: bold;
}

.googleSpan {
  color: white;
}

.googleA {
  text-decoration: none;
}

.mainGoogleIcon:hover {
  border: 2px solid white;
  color: white;
  box-shadow: -1px -1px 5px;
  border-radius: 7px;
}
