.stripsWrapper {
  width: 100%;
}

.insideText {
  color: white;
  background-color: rgba(0, 0, 0, 0.41);
  padding: 3.5vmin 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: klavika-light, sans-serif;

  margin: 8vh 0 6vh 0;
}

.insideText {
  text-transform: uppercase;
  font-size: 2vmax;
}
