.stripsWrapper {
  width: 100%;
}

.insideText {
  color: white;
  background-color: rgba(0, 0, 0, 0.41);
  padding: 3.5vmin 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: klavika-light, sans-serif;

  margin: 8vh 0 6vh 0;
}

.insideText {
  text-transform: uppercase;
  font-size: 2vmax;
}

/****** Media Queries *******/

@media only screen and (max-width: 970px) {
  .insideText {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 650px) {
  .insideText {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
