.textWrapper {
  color: white;
  font-family: klavika-light, sans-serif;
}

.lowerText {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 4.3vmax;

  font-family: klavika-bold, sans-serif;
}

.topText {
  font-size: 1.8vmax;
  display: flex;
  justify-content: start;

  transform: translate(0, 10%);
}

/*******  media querires ***************/

@media only screen and (max-width: 1150px) {
  .lowerText {
    font-size: 3.5rem;
  }

  .topText {
    font-size: 1.8rem;
  }
}
