.footer {
  color: rgb(131, 130, 130);
  text-transform: lowercase;
  font-size: 1.2rem;
  font-family: klavika-regular, sans-serif;
  transform: translate(0, 15vh);
}

/*******  media querires ***************/

@media only screen and (max-width: 970px) {
  .footer {
    transform: translate(0, 11vh);
  }
}
