.icons {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: white;
}

.icon {
  margin: 15px;
}

.icon:hover {
  cursor: pointer;
  box-shadow: 0 0 5px 2px rgb(85, 75, 75);
  transition: 0.5s;
  color: rgb(155, 151, 151);
}

.google {
  background-color: #db4437;
  width: 75px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.facebook {
  background-color: #385898;
  width: 75px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.twitter {
  background-color: #1da1f2;
  width: 75px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.instagram {
  background-color: #3f729b;
  width: 75px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/******* Media query ******************/

@media only screen and (max-width: 970px) {
  .icons {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .instagram,
  .twitter,
  .google,
  .facebook {
    width: 70px;
    height: 70px;
  }
}
